.projectCard {
    &::before, &::after {
        @apply absolute bottom-0 left-0 w-full;
        @apply transition-all duration-300 ease-in-out;
    }

    &::before {
        @apply h-full;
        content: "";
        background: linear-gradient(to bottom, rgba(15, 15, 15, 0.3), rgba(15, 15, 15, 1) 100%);
    }

    &::after {
        @apply h-full opacity-0;
        content: "";
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), #FD4766 100%);
    }
}
