.projectCard {
    @apply flex items-end;
    @apply min-h-[500px] w-full relative z-0 p-10 overflow-hidden;
    @apply transition-all duration-300 ease-in-out;

    &::before {
        @apply absolute bottom-0 left-0 w-full h-[85%];
        @apply transition-all duration-300 ease-in-out;
        content: "";
        background: linear-gradient(to bottom, rgba(15, 15, 15, 0), rgba(15, 15, 15, 0.9) 100%);
    }

    &::after {
        @apply absolute bottom-0 left-0 w-full h-[85%] opacity-0;
        @apply transition-all duration-300 ease-in-out;
        content: "";
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #FD4766 100%);
    }

    &:hover {
        transform: translateZ(0) scale(1.08);

        &::before {
            @apply opacity-0;
        }

        &::after {
            @apply opacity-100;
        }
    }

    &Content {
        @apply flex justify-end items-start flex-col h-full relative z-10;
    }

    &Title {
        @apply mb-4;
        @apply text-2xl text-left font-semibold text-white
    }

    &Subtitle {
        @apply mb-4;
        @apply text-white opacity-70 font-light text-base;
    }

    &Link {
        @apply text-sm px-6 py-2 tracking-wide rounded-lg;
        @apply text-white border-2 border-white border-opacity-30;
    }

    &Picture {
        @apply -z-[1] w-full h-full object-cover object-top;
    }
}
