@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.083 0.03 284);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.95 0.006 264.53);
    --secondary-foreground: oklch(0.083 0.03 284);
    --muted: oklch(0.94 0.006 265);
    --muted-foreground: oklch(0.541 0.02 278);
    --accent: oklch(0.937 0.008 265);
    --accent-foreground: oklch(0.083 0.03 284);
    --destructive: oklch(0.497 0.22 18);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0 0 0 / 0.1);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --radius: 0.625rem;
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.985 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
}

@theme inline {
    --font-main: var(--font-poppins), sans-serif;

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-light:
        rgba(204, 219, 232, 0.109) 3px 3px 6px 0px inset,
        rgba(255, 255, 255, 0.081) -3px -3px 6px 1px inset;
}

@utility container {
    width: 100%;
    margin-inline: auto;
    padding-inline: 2rem;

    @media (min-width: 1400px) {
        max-width: 1400px;
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
        @apply focus:outline-hidden;
        @apply focus-visible:outline-primary focus-visible:outline-2 focus-visible:outline-offset-4;
    }

    body {
        @apply bg-background text-foreground font-main;
    }
}
