.menuItem {
    @apply flex items-center w-full;
    @apply text-white text-[16px] font-bold uppercase;
    &::before,
    &::after {
        @apply h-[1px] w-full top-1/2;
        @apply bg-white opacity-50 transform translate-y-1/2;
        content: '';
    }
    &::before {
        @apply mr-4 left-0;
    }
    &::after {
        @apply ml-4 right-0;
    }
}
.mobilePopUp {
    @apply lgd:fixed lgd:h-screen left-0 top-0 z-[10000] overflow-hidden;
    @apply transform transition-all ease-in-out duration-300;
    & > ul {
        @apply lgd:w-full lgd:max-w-[310px] lgd:h-full;
    }
    &::after {
        @apply lg:hidden absolute -z-[1] top-0 left-0 w-full h-full;
        @apply bg-black bg-opacity-80;
        content: '';
    }
}
@screen lg {
    .headerSticky {
        animation: sticky .95s ease forwards;
    }
}

@keyframes sticky {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}
