.tab {
    &List {
        @apply flex items-center md:justify-between mdd:flex-wrap mdd:pb-2;
        @apply font-main text-sm font-semibold md:border mdd:border-b border-border;
        @apply dark:border-border-dark md:rounded-full;
    }
    &Content {
        @apply pt-5 space-y-4 overflow-hidden;
        @apply font-main;

        & + .showMoreWrapper {
            & button > i {
                @apply transition-all duration-300 ease-in-out transform rotate-0;
            }
        }

        &.folded {
            @apply lg:max-h-[210px];
            transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
        }
        &.full {
            @apply max-h-[5000px];
            transition: max-height 1s ease-in-out;

            & + .showMoreWrapper {
                & button > i {
                    @apply rotate-180;
                }
            }
        }
    }
}

.showMore {
    &Wrapper {
        @apply inline-flex justify-center items-center lgd:hidden;
        @apply relative w-full mt-4;

        &::before {
            @apply absolute h-px left-0 w-full z-[1] bottom-1/2;
            @apply bg-border transform translate-y-1/2;
            content: "";
        }
    }
}
