.menuItem {
    @apply flex items-center w-full;
    @apply text-white text-[16px] font-bold uppercase;
    &::before,
    &::after {
        @apply h-[1px] w-full top-1/2;
        @apply bg-white opacity-50 transform translate-y-1/2;
        content: '';
    }
    &::before {
        @apply mr-4 left-0;
    }
    &::after {
        @apply ml-4 right-0;
    }
}

.headerSticky {
    animation-name: headerSticky;
    animation-duration: .95s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes headerSticky {
    from { @apply -translate-y-full}
    to {@apply translate-y-0}
}
